<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1>YOYO web apps are so cool</h1>
    <h2>What's up!!!!</h2>
  </div>

  <form action = "/actionpage.php">
    Post Title:<br>
    <input type="text" name="title"><br>
    Post Comment:<br>
    <input type="text" name="body">
    <!--<input type="submit" value="Submit">-->
    <button class="btn btn-default" type="button" onclick="myFunction()">
    Submit
    </button>
  </form>

  

  <div id="doge-image"/>

</body>

</html>